.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(221, 221, 221);

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;

  padding: 15px 15px;

  margin-left: 2.5rem;
}

.filler-container,
.name {
  width: 2.5rem;
}

.button-container {
  text-align: left;
}

.title {
  font-weight: bold;
  font-size: 1.75rem;
}

.name {
  font-size: 1rem;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: rgb(221, 221, 221);
  
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
  
    padding: 15px 15px;

    margin-left: 5rem;
  }

  .filler-container,
  .name {
    width: 8rem;
  }

  .title {
    font-weight: bold;
    font-size: 2rem;
  }

  .name {
    font-size: 1.25rem;
    text-align: right;
  }
}