* {
  font-family: Quicksand, Arial;
  font-size: 16px;
}

body {
  margin: 0px;
}

.dynamic-grid {
  display: grid;
  gap: 0.5rem;

  justify-content: center;

  grid-template-columns: repeat(auto-fit, 40vw);

  margin-left: 2.5rem;
  margin-top: 70px;
  margin-bottom: 104px;

  padding: 10px;
}

.card {
  background-color: rgb(245, 245, 245);
  color: black;

  border-style: solid;
  border-color: rgb(199, 199, 199);
  border-width: 1px;
  border-radius: 12px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  transition: transform 0.2s;

  display: flex;

  overflow: hidden;
}

.card:hover {
  transform: scale(1.075);
}

.card:active {
  transform: scale(1);
}

.card-picture-container {
  background-color: aqua;
  overflow: hidden;

  flex: 1;
}

.card-picture {
  display: block;

  width: 100%;
}

.card-contents {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.card-title {
  font-weight: bold;
  font-size: 0.65rem;
  
  text-align: center;
}

.card-description {
  display: none;
}

@media only screen and (min-width: 768px) {
  .dynamic-grid {
    display: grid;
    gap: 1rem;
  
    justify-content: center;
  
    grid-template-columns: repeat(auto-fit, 40vw);
  
    margin-left: 5rem;
    margin-top: 70px;
    margin-bottom: 125px;
  
    padding: 1rem;
  }
  
  .card-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;

    flex: 1;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 0.8rem;

    padding-bottom: 10px;
    
    text-align: center;
  }
  
  .card-description {
    display: block;
    font-size: 0.7rem;

    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  .dynamic-grid {
    display: grid;
    gap: 1rem;

    justify-content: center;
  
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  
    margin-left: 5rem;
    margin-top: 70px;
    margin-bottom: 125px;
  
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  .card {
    background-color: rgb(245, 245, 245);
    color: black;
  
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-width: 1px;
    border-radius: 12px;
  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  
    transition: transform 0.2s;
  
    display: flex;
  
    overflow: hidden;
  }
  
  .card-title {
    font-weight: bold;

    font-size: 1rem;
  }
  
  .card-description {
    display: block;

    font-size: 0.7rem;
  }
}