* {
  font-family: Quicksand, Arial;
  font-size: 16px;
}

body {
  margin: 0px;
}

.body-container {
  display: grid;

  grid-template-columns: 1fr;

  row-gap: 1.5rem;

  padding-top: 120px;
  padding-bottom: 180px;
  padding-left: 200px;
  padding-right: 200px;  

  margin-left: 5rem;
}

.card-left, .card-right {
  background-color: rgb(235, 235, 235);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 15px;

  border-style: solid;
  border-color: rgb(199, 199, 199);
  border-width: 1px;
  border-radius: 12px;

  overflow: hidden;
}

.card-left {
  text-align: right;
}

.card-right {
  text-align: left;
}

.video-container {
  margin: 0px;

  padding: 20px;

  background-color: rgb(245, 245, 245);

  flex: 1;

  border-radius: 12px;

  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.text-container {
  flex: 2;

  padding: 20px;
}

.piece-title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.ensemble {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.description {
  font-size: 0.85rem;
}

iframe {
  display: block;
  aspect-ratio: 16/9;

  width: 100%;
}